* {
    overflow: hidden;
}

.container_addFiles {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form_addFiles {
    display: block;
    text-align: center;
}

.form_addFile_input {
    width: 40%;
    margin: auto;
}

.title_addFiles {
    color: white;
    margin: 1rem;
}

.logo img {
    width: 25%;
}

.logo {
    text-align: center;
}

.btn_cadastro {
    border: 1px solid transparent; /* Define a borda como sólida e transparente */
    border-radius: 10px;
    padding: .5rem 1rem;
    margin: 1rem;
    background-color: rgb(3, 177, 3);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .3s;
}

.btn_cadastro:hover {
    background-color: green;
    color: black;
    transition: .3s;
}

.add_file,
.add_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add_text textarea {
    width: 100%;
    height: 300px;
}

#success-message {
    display: none;
    color: white;
    font-weight: bold;
}

#loading {
    display: none;
    color: blue;
    font-weight: bold;
}

#loading-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    margin: 10px 0;
    position: relative;
    height: 20px;
}

#loading-bar-fill {
    background-color: #4caf50;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.4s ease;
}

.text-box {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin-top: 20px;
    /* Ajuste conforme necessário para o espaçamento */
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    background-color: #1fcf54;
    color: black;
    border: 1px solid #ddd;
    /* Adiciona uma borda para parecer com um botão */
    position: relative;
    /* Garante que o ::after se comporte corretamente */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #1fcf54;
    color: black;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animate {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}