/* Estilos para as imagens */
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
}

/* Estilo para que as imagens fiquem lado a lado */
.playlist {
    margin-bottom: 20px;
}

hr {
    border: 1px solid #fff;
    margin: 20px 0;
}

.title_visualizar {
    color: white;
    margin: 1rem;
}

.arquivos {
    display: flex;
    flex-wrap: wrap;
}

.arquivo {
    margin-right: 10px;
    position: relative;
}

/* Tooltip para pré-visualização */
.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    width: 200px;
    max-width: 300px;
    white-space: pre-wrap;
    font-size: 12px;
    text-align: left;
}

.arquivo:hover .tooltip {
    display: block;
}

.excluir-link {
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: green;
    border-radius: 10px;
    color: white;
}